<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{static/js/index.js}" type="text/javascript"></script>
    <script th:src="@{static/js/jquery.js}" type="text/javascript"></script>
<!--    <script src="static/js/index.js" type="text/javascript"></script>-->
<!--    <script src="static/js/jquery.js" type="text/javascript"></script>-->
</head>
<body>
    hello it is index!
    <input type="button" value="点我"  id="btn_ok" onclick="ok();"/>
    <img th:src="@{static/images/11.jpg}" />
<!--    <img src="static/images/11.jpg" />-->
</body>
</html>